[user]
	email = fradeve@inventati.org
	name = Francesco de Virgilio
[core]
	editor = vim
[alias]
	tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
    status = status --short
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	g = grep --break --heading --line-number
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
[color]
    ui = auto
[merge]
	tool = vimdiff
[mergetool]
    keepBackup = false
[mergetool "p4merge"]
    trustExitCode = false
[push]
	default = simple
[color "grep"]
    linenumber = yellow bold
    match = red
    filename = magenta     
