[user]
	email = fradeve@inventati.org
	name = fradeve
[core]
	editor = vim
[alias]
	tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
    status = status --short
[color]
    ui = auto
[merge]
	tool = p4merge
[mergetool]
    keepBackup = false
[mergetool "p4merge"]
    trustExitCode = false
