[user]
		email = fradeve@inventati.org
		name = fradeve
[core]
		editor = vim
[merge]
		tool = vimdiff
[alias]
	    tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
[color]
        ui = auto
