[user]
	email = fradeve@inventati.org
	name = fradeve
[core]
	editor = vim
[alias]
	tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
    status = status --short
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = auto
[merge]
	tool = vimdiff
[mergetool]
    keepBackup = false
[mergetool "p4merge"]
    trustExitCode = false
[push]
	default = simple
