[Unit]
Description=Dropbox as a systemd service
After=xorg.target

[Service]
ExecStart=/home/fradeve/.dropbox-dist/dropboxd
ExecReload=/bin/kill -HUP $MAINPID
Environment=DISPLAY=%i

[Install]
WantedBy=default.target
