[Unit]
Description=Graphical Session

# Allow switching to this target.
AllowIsolate=true

[Install]
# When `enabled` it will be aliased to `default.target`.
Alias=default.target
