[Unit]
Description=Starts xrandr to manage monitors

[Service]
ExecStart=/bin/bash /home/fradeve/.bin/xrandr-set.sh
ExecStart=/usr/bin/xrandr --output VGA1 --auto --right-of HDMI1 --output HDMI1 --auto
Type=oneshot
RemainAfterExit=yes
User=fradeve
#Environment=DISPLAY=%i # <= !

[Install]
WantedBy=multi-user.target
